<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:="repalce partials/header :: head('Javis Create Page')"></head>

    <body>

        <navbar th:repalce="partials/navbar :: navbar"/></navbar>

        <div class=""container>
            <h1>Create Post Page</h1>

            <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
                <div class="form-group">
                    <label for="Title"></label>
                    <input class="form-control" type="text" id="title" th:field="*{tile}" />
                </div>

                <div class="form-group">
                    <label for="body">Body</label>
                    <textarea name="form-control" id="body" th:field="*{body}"></textarea>
                </div>

                <input type="submit" value="Create Post" />
            </form>
        </div>
        <footer th:repalce="partials/footer :: footer"/>
    </body>
</html>